// ----------------------------------------------
// Variables Style
// ----------------------------------------------


// Gray Color
$white: #fff !default;
$gray-100: #e7ecf0 !default;
$gray-200: #f0f5f9 !default;
$gray-300: #e6ecf1 !default;
$gray-400: #fbfcfd !default;
$gray-600: #707a82 !default;
$gray-900: #111c2d !default;
$black: #000 !default;

// Color
$blue: #0085db !default;
$indigo: #8763da !default;
$red: #fb977d !default;
$yellow: #f8c076 !default;
$green: #4bd08b !default;
$cyan: #46caeb !default;

// Main Color
$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$inverse: $gray-900 !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;
$muted: $gray-400 !default;

$light-primary: #e5f3fb;
$light-secondary: #e7ecf0;
$light-success: #dffff3;
$light-warning: #fff6ea;
$light-danger: #ffede9;
$light-indigo: #f1ebff;
$light-info: #e1f5fa;


// Theme Colorss
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "muted": $muted,
  "indigo": $indigo,
  "light-primary": $light-primary,
  "light-secondary": $light-secondary,
  "light-info": $light-info,
  "light-success": $light-success,
  "light-warning": $light-warning,
  "light-danger": $light-danger,
  "light-indigo": $light-indigo,
  ) !default;

// Spacer
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: 12px,
  7: 30px,
  8: 10px,
  9: 20px,
  10: 18px,
  ) !default;

// Common
$min-contrast-ratio: 1.7 !default;

// Margins
$enable-negative-margins: true !default;
$enable-shadows: true !default;

// Font Weight
$font-weight-lighter: 300 !default;
$font-weight-light: 400 !default;
$font-weight-normal: 500 !default;
$font-weight-bold: 600 !default;
$font-weight-bolder: 700 !default;
$font-weight-base: $font-weight-light !default;

// Buttons
$btn-padding-y: 9px !default;
$btn-padding-x: 20px !default;
$btn-font-size: 15px !default;
$btn-border-radius: 30px !default;
$btn-box-shadow: unset !default;

// Font Family
$font-family-sans-serif: "Plus Jakarta Sans", sans-serif !default;

// Font Sizes
$font-sizes: (
  1: 10px,
  2: 12px,
  3: 14px,
  4: 16px,
  5: 18px,
  6: 20px,
  7: 24px,
  8: 30px,
  9: 36px,
  10: 40px,
  11: 45px,
  12: 48px,
  13: 55px,
  14: 21px,
) !default;
$font-size-base: 0.9rem !default;

// Line Heght
$line-height-base: 1.5 !default;
$line-height-sm: 1.25 !default;
$line-height-lg: 2 !default;

// Body
$body-bg: $white !default;
$body-color: #707a82 !default;

// Heading
$headings-color: $dark !default;
$headings-font-weight: $font-weight-normal !default;

// Border Color
$border-color: $gray-300 !default;

// Card
$card-title-color: $dark !default;
$card-subtitle-color:$dark !default;
$card-spacer-y: 30px !default;
$card-spacer-x: 30px !default;
$card-border-width: 0px !default;
$card-border-radius: 1.125rem !default;
$card-bg: $white !default;
$card-box-shadow: 0px 2px 6px rgba(37, 83, 185, 0.1) !default;

// Border Radius
$border-radius: 0.25rem !default; // 4px
$border-radius-sm: 0.5rem !default; // 8px
$border-radius-lg: 0.625rem !default; // 10px
$border-radius-pill: 50rem !default; // 800px

// Badges
$badge-font-size: 0.875em;
$badge-font-weight: $font-weight-normal !default;


// Table
$table-cell-padding-y: 12px;
$table-cell-padding-x: 12px;
$table-striped-bg: $gray-200;
$table-th-font-weight: 600 !default;
$table-color: $dark;


// Input
$input-box-shadow: unset !default;
$input-group-addon-bg: $gray-200;
$input-group-addon-border-color: $light;
$input-border-color: $light;
$input-bg: transparent;
$input-padding-y: 8px;
$input-padding-x: 16px;
$input-border-radius: 0.5rem !default;
$form-check-input-border: 1.25px solid $gray-600;

// Dropdown
$dropdown-border-color: transparent !default;
$dropdown-border-radius: 1.125rem !default;
$dropdown-width: 360px !default;
$dropdown-link-hover-bg: $gray-100 !default;
$dropdown-item-padding-y: 10px !default;

// Modal
$modal-content-border-width: 0 !default;

// navbar
$navbar-dark-color: rgba($white, 0.6) !default;
$navbar-dark-hover-color: rgba($white, 1) !default;
$navbar-light-color: rgba(0, 0, 0, 0.55) !default;
$navbar-light-hover-color: rgba(0, 0, 0, 0.9) !default;