// ===================================
// Sidebar
// ===================================

.left-sidebar {
  width: $sidebar-width-full;
  background-color: $white;
  position: absolute;
  transition: 0.2s ease-in;
  height: calc(100% - 40px);
  z-index: 13;
  box-shadow: $card-box-shadow;
  border-radius: $card-border-radius;
  .scroll-sidebar {
    padding: 0 16px;
    overflow-y: auto;
    height: calc(100% - 70px);
    .simplebar-track.simplebar-horizontal {
      visibility: hidden !important;
    }
  }
}

.brand-logo {
  min-height: $header-height;
  padding: 0 16px;
}


.nav-small-cap {
  padding: 5px 2px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  .nav-small-cap-icon {
    display: none;
  }
}

.sidebar-nav {
  ul {
    .sidebar-item {      
      .sidebar-link {
        color: $sidebar-text;
        display: flex;
        white-space: nowrap;
        align-items: center;
        line-height: 25px;
        position: relative;
        margin: 5px 0;
        padding: 5px 0;
        font-size: 15px;
        text-decoration: none;
        .aside-icon{
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: none !important;
        }
      }
    }
  }

  .sidebar-list {
    .sidebar-list-item {
      padding: 10px 0;
    }
  }
}

.collapse.in {
  display: block;
}

// ===================================
// Color Activing and Hover
// ===================================

.primary-hover-bg {
  position: relative;
  transition: all 0.4s ease-in-out;

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -16px;
    content: "";
    width: 0;
    height: 100%;
    z-index: -1;
    border-radius: 0px 24px 24px 0px;
    transition: all 0.4s ease-in-out;
  }

  &:hover,
  &.btn-toggle[aria-expanded="true"] {
    &::before {
      width: calc(100% + 16px);
    }
  }
}

.primary-hover-bg{
  &:hover{
    .hide-menu, .aside-icon{
      color: $primary;
    }
  }
  &.active{
    .hide-menu, .aside-icon{
      color: $primary;
    }
  }
}


.selected {
  .primary-hover-bg {
    &::before {
      width: calc(100% + 16px);
    }
  }
}

// .danger-hover-bg::before {
//   background-color: $light-danger;
// }

// .warning-hover-bg::before {
//   background-color: $light-warning;
// }

// .success-hover-bg::before {
//   background-color: $light-success;
// }

.primary-hover-bg::before {
  background-color: $light-primary;
}

// .indigo-hover-bg::before {
//   background-color: $light-indigo;
// }
// .info-hover-bg::before {
//   background-color: $light-info;
// }

// .secondary-hover-bg::before {
//   background-color: $light-secondary;
// }
