// ----------------------------------------------
// Card Style
// ----------------------------------------------

.card-title {
    font-size: 18px;
}

.card {
    margin-bottom: 30px;
}

.auth-card{
    max-width: 450px;
    width: 100%;
}